<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safra Invest | A.Players Investimentos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" href="images/safra-icon.png">
  </head>
  <body
    style="
      background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95)), url(../images/grafico.jpg);
      background-position-x: center;
      background-size: cover;
      height: 100vh;
    "
  >
    <header class="bg-dark shadow">
      <div class="container d-flex flex-wrap align-items-center justify-content-around py-3 mb-5">
        <a href="https://foleo.com.br/" class="mb-4 mb-lg-0">
          <img width="250" src="images/foleo-logo-branca.png" alt="" srcset="" />
        </a>
        <a href="https://aplayersinvestimentos.com.br/" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <img width="450" src="images/logo-aplayers-vetor.svg" alt="" srcset="" />
        </a>
      </div>
    </header>
    <main>
      <div class="col-md-6 col-10 mx-auto">
        <h4 class="mb-3">Informações pessoais</h4>
        <form class="needs-validation" method="POST" action="/" novalidate>
          <div class="row g-3">
            <div class="">
              <label for="nome" class="form-label">Nome completo</label>
              <input
                type="text"
                class="form-control"
                name="nome"
                id="nome"
                placeholder=""
                value=""
                required
              />
              <div class="invalid-feedback">Por favor, insira um nome</div>
            </div>

            <div class="">
              <label for="cpf" class="form-label">CPF</label>
              <input type="cpf" class="form-control" id="cpf" name="cpf" placeholder="" required />
              <div class="invalid-feedback">Por favor, insira um CPF</div>
            </div>

            <div class="">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="" required />
              <div class="invalid-feedback">Por favor, insira um email</div>
            </div>

            <div class="">
              <label for="telefone" class="form-label">Celular</label>
              <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="" required />
              <div class="invalid-feedback">Por favor, insira um número de celular</div>
            </div>
          </div>

          <button class="mt-5 mb-3 w-100 btn-outline-dark btn-lg shadow-sm" type="submit">Abrir conta</button>
        </form>
      </div>
    </main>
    <script src="/javascripts/phoneNumber.js"></script>
    <script src="/javascripts/formValidationBootstrap.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
