<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safra Invest | A.Players Investimentos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" href="images/safra-icon.png" />
  </head>
  <body
    style="
      background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95)),
        url(../images/grafico.jpg);
      background-size: cover;
      height: 100vh;
    "
  >
    <header class="bg-dark shadow">
      <div class="container d-flex flex-wrap align-items-center justify-content-around py-3 mb-5">
        <a href="https://foleo.com.br/" class="mb-4 mb-lg-0">
          <img width="250" src="images/foleo-logo-branca.png" alt="" srcset="" />
        </a>
        <a
          href="https://aplayersinvestimentos.com.br/"
          class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
        >
          <img width="450" src="images/logo-aplayers-vetor.svg" alt="" srcset="" />
        </a>
      </div>
    </header>
    <div class="mt-4">
      <div class="col-md-8 col-10 mx-auto">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading text-center">
            Seja bem vindo ao melhor escritório de investimentos do Brasil!
          </h4>
          <hr />
          <h5 class="text-center">
            Em até 24 horas você receberá um SMS no seu celular para finalizar a abertura da conta na
            A.Players Investimentos, escritório vinculado ao Safra Invest.
          </h5>
          <div class="d-grid gap-2 col-10 col-sm-6 mx-auto mt-4 mb-2">
            <a
              href="https://foleo.com.br/"
              class="mb-0 text-center btn btn-outline-secondary btn-lg shadow-sm"
              role="button"
              >Voltar à página inicial</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
